html, body {
    height: 100%;
}

.pokemonListItem {
	height: 230px;
	text-align: center;
}

.pokemonIconContainer {	
    height: 120px;
}

.pokemonIconDetailsContainer {
	height: 150px;
}

.pokemonIcon {
	position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.pokemonName, .pokemonNameDetails {
	font-weight: bold;
}

.pokemonNameDetails {
	font-size: 20px;
}

.pokemonTypeSection {
	text-align: left;
	padding-bottom: 5px;
    padding-top: 5px;
}

.pokemonTypeLabel {
	background-color: #0275d8;
	color: #000000;
    font-weight: normal;
	margin: 2px;
	font-size: 100%;
}

#btnLoadMore {
	width: 100%;
	font-weight: bold;
	font-size: 20px;
	margin: 15px 0px;
}

#btnFilter {
	font-weight: bold;
}

#pokemonDetailsWrapper {
	text-align: center;
	position: fixed; 
	width: 300px;
    margin-top: -205px;
    top: 50%;
}

div#pokemonDetailsContainer .table {
	margin-bottom: 0;
}

div#pokemonDetailsContainer th, td {
	text-align: center;
}

#pokemonListProgress {
	display: none;
	width:50%;
	margin: auto;
}

#pokemonTypeFilterWrapper {
	display: none;
	padding: 10px 10px 10px 0;
}